* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif ; */
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
/* #bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100vh;
} */
.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(./images/bgImageDark.jpg);
    /* background-color: rgb(0, 83, 0); */
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    padding: 3rem 2.5rem;
}

.nameAndTag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#logoImage {
    width: 5rem;
    margin-right: 0.8rem;
    margin-left: -1rem;
}

.logoName1,
.logoName2 {
    font-size: 1.5rem;
    margin: -0.5rem;
}

.button {
    width: 100%;
}

.buttonPara {
    padding: 2rem;
}

.buttonLine1 {
    font-size: 1.4rem;
}

.buttonLine2 {
    font-size: 1.5rem;
    font-weight: 600;
}

#getStartedBtn {
    color: white;
    background-color: rgba(252, 251, 251, 0.258);
    /* background-color: rgba(0, 66, 0, 0.414); */
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
}

#getStartedBtn:active {
    transform: scale(1.1);
}

.versionName {
    align-self: center;
    text-align: center;
    margin: 1.5rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.39);
}

/* HomePage */

    /* Header */
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.logoHP {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    /* background-color: aliceblue; */
    background-color: white;
}

#logoImageHP {
    width: 1.5rem;
    border: 0.1rem solid green;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

    /* firstPart */

.firstPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.headingHP {
    width: calc(50% - 3rem);
    margin-bottom: 2rem;
}

.btn {
    margin-top: 1rem;
    width: 70%;
    padding: 0.7rem;
    border-radius: 0.6rem;
    border: none;
    background-color: black;
    /* box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.313); */
    color: white;
}

.headingImageHP {
    width: calc(50% - 3rem);
}

@media only screen and (max-width: 768px) {
    .headingHP {
        width: calc(100%);
    }
    .headingImageHP {
        width: calc(100%);
    }
} 

#mainImage {
    width: 100%;
    border-radius: 0.8rem;
}


.grapesPart {
    padding: 1rem;
    padding-bottom: 1.5rem;
    background-color: rgba(211, 211, 211, 0.286);
}

.grapesHeadline {
    padding: 1.5rem 1rem 0 1rem;
    font-size: 1.5rem;
    /* font-weight: 500; */
}

.grapesPara {
    padding: 0 1rem;
    margin: 0.5rem 0 1.5rem 0;
}

.grapeVariety {
    display: flex;
    flex-wrap: wrap;
    /* padding: 1rem; */
    margin: 1rem 0;
    /* background-color: rgba(211, 211, 211, 0.477); */
    /* background-color: white; */
    /* background-color: black; */
    /* border-radius: 0.8rem; */
    /* box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.453); */
    /* flex-direction: column; */
}

.variety {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 0.1rem solid black; */
    background-color: white;
    /* box-shadow: 0 1rem 1rem rgba(128, 128, 128, 0.374); */
    border-radius: 0.8rem;
    width: calc(33.333333% - 1rem);
    margin: 0.5rem;
    padding: 1rem;
}

@media only screen and (max-width : 768px) {
    .variety {
        width: calc(50% - 1rem);
    }
}

#variety {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
}

.grapeName {
    font-size: 0.9rem;
}

.grapeDesc {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    font-weight: 500;
}

/* Our projects part */

.ourProjects {
    margin: 1rem 0;
}

.projectsHeadline {
    padding: 1rem 2rem;
}

.projectsPara {
    padding-left: 2rem;
    margin-top: -0.5rem;
}

.projectPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectImage {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: -2rem;
}

#projectImage {
    width: 100%;
    border-radius: 0.8rem;
}

.areaAndLocation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    padding: 1.5rem;
}

#projectArea,
#projectCrop,
#projectLocation {
    width: 1.5rem;
}

.areaPara1,
.cropPara1,
.locationPara1 {
    font-size: 1rem;
    font-weight: 600;
}

.areaPara2,
.cropPara2,
.locationPara2 {
    font-size: 0.8rem;
    /* font-weight: 600; */
}

.moreProjects {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    margin-top: -2rem;
}

.moreButton {
    width: 100%;
}

.arrowImage {
    margin-left: -10rem;
    margin-top: 1rem;
    transform: rotate(90deg);
}

#arrowImage {
    width: 1rem;
    background-color: white;
    border-radius: 0.6rem;
}
/* Bottom buttons part */

a {
    text-decoration: none;
}

.bottomBtns {
    display: flex;
    justify-content: space-around;
    /* background-color: aliceblue; */
    border-top: 0.1rem solid rgba(211, 211, 211, 0.286);;
    background-color: white;
    padding: 1rem;
    position: fixed;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
}

.bottom {
    width: 1.5rem;
}

.bottom:active {
    transform:scale(1.2);
}

