@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: -apple-system, BlinkMacSystemFont, sans-serif ; */
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:focus {
    outline: none !important;
}

p {
    font-weight: 500;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    /* background-image: url(./images/bgImageDark.jpg); */
    /* background-color: rgb(0, 83, 0); */
    background-size: cover;
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    padding: 3rem 2.5rem;
}

.nameAndTag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#logoImage {
    width: 5rem;
    margin-right: 0.8rem;
    margin-left: -2.5rem;
}

.logoName1,
.logoName2 {
    font-size: 1.5rem;
    margin: -0.5rem;
    color: rgb(0, 68, 0);
}

.button {
    width: 100%;
}

.buttonPara {
    padding: 2rem;
}

.buttonLine1 {
    font-size: 1.4rem;
}

.buttonLine2 {
    font-size: 1.5rem;
    font-weight: 600;
}

#getStartedBtn {
    color: white;
    /* color: black; */
    background-color: rgba(0, 64, 12, 0.358);
    /* background-color: rgba(0, 66, 0, 0.414); */
    background-color: black;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.8rem;
    font-size: 1rem;
}

.versionName {
    align-self: center;
    text-align: center;
    margin: 2rem 1.5rem 2rem 1.5rem;
    font-size: 0.8rem;
    color: rgba(57, 57, 57, 0.39);
}

/* HomePage */

    /* Header */
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.headHP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    /* color: white; */
    z-index: 1;
}

.logoHP {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
}

.topBtn {
    padding-right: 1.5rem;
}

#logoImageHP {
    width: 1.5rem;
    border: 0.1rem solid green;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

    /* firstPart */

.firstPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 1.5rem;
    /* color: white; */
    /* background-color: black; */
}

.headingHP {
    width: calc(50% - 3rem);
    margin-bottom: 2rem;
}

.headLineHP1 {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
}

.btn {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
    width: 70%;
    padding: 0.7rem;
    border-radius: 0.6rem;
    border: none;
    background-color: black;
    /* background-color: white; */
    /* box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.313); */
    color: white;
    /* color: black; */
}

.headingImageHP {
    width: calc(50% - 3rem);
}

@media only screen and (max-width: 768px) {
    .headingHP {
        width: calc(100%);
    }
    .headingImageHP {
        width: calc(100%);
    }
} 

#mainImage {
    width: 100%;
    border-radius: 0.8rem;
}


.grapesPart {
    padding: 1rem;
    padding-bottom: 1.5rem;
    /* margin-bottom: 1.5rem; */
    background-color: rgba(211, 211, 211, 0.286);
}

.grapesHeadline {
    padding: 1.5rem 1rem 0 1rem;
    font-size: 1.5rem;
    /* font-weight: 500; */
}

.grapesPara {
    padding: 0 1rem;
    margin: 0.5rem 0 1.5rem 0;
}

.saplingsHeadline2 {
    margin-bottom: -1.5rem;
}

.grapeVariety {
    display: flex;
    flex-wrap: wrap;
    /* padding: 1rem; */
    margin: 1rem 0;
    /* background-color: rgba(211, 211, 211, 0.477); */
    /* background-color: white; */
    /* background-color: black; */
    /* border-radius: 0.8rem; */
    /* box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.453); */
    /* flex-direction: column; */
}

.variety {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 0.1rem solid black; */
    background-color: white;
    /* box-shadow: 0 1rem 1rem rgba(128, 128, 128, 0.374); */
    border-radius: 0.8rem;
    width: calc(33.333333% - 1rem);
    margin: 0.5rem;
    padding: 1rem;
}

@media only screen and (max-width : 768px) {
    .variety {
        width: calc(50% - 1rem);
    }
}

#variety {
    width: 5rem;
    height: auto;
    border-radius: 1rem;
}

.grapeName {
    font-size: 0.9rem;
}

.grapeDesc {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    font-weight: 500;
}

/* Our projects part */

.ourProjects {
    margin: 1rem 0;
    /* padding-bottom: 1rem; */
}

.projectsHeadline {
    padding: 1rem 2rem;
}

.projectsPara {
    padding: 0 2rem;
    margin-top: -0.5rem;
}

.projectPart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectPart1 {
    background-color: rgba(211, 211, 211, 0.286);
    padding: 1.5rem 0;
    margin: -1rem 0;
}

.projectImage {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: -2rem;
}

#projectImage {
    width: 100%;
    border-radius: 0.8rem;
}

.areaAndLocation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    padding: 1.5rem;
}

#projectArea,
#projectCrop,
#projectLocation {
    width: 1.5rem;
}

.areaPara1,
.cropPara1,
.locationPara1 {
    font-size: 1rem;
    font-weight: 600;
}

.areaPara2,
.cropPara2,
.locationPara2 {
    font-size: 0.8rem;
    /* font-weight: 600; */
}

.moreProjects {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    margin-top: -2rem;
}

.moreButton {
    width: 100%;
}

.moreProjectsBtn {
    color: white;
    background-color: black;
}

#arrowBtn {
    margin-left: 3rem;
    margin-top: 1rem;
}

#arrowImage {
    width: 1rem;
    background-color: white;
    border-radius: 0.6rem;
    transform: rotate(90deg)
}

/* Our location part */

.ourLocPart {
    width: 100%;
    padding: 2rem 1.5rem 2.5rem 1.5rem;
    background-color: rgba(211, 211, 211, 0.286);
}

.ourLocHeadline {
    padding-left: 0.5rem;
}

.ourLocPara {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}

.ourLoc {
    margin-top: 1.5rem;
}

#locVideo {
    width: 100%;
    border-radius: 0.8rem;
}

/* Bottom buttons part */

a {
    text-decoration: none;
}

.bottomBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
    border-top: 0.1rem solid rgba(211, 211, 211, 0.286);;
    background-color: white;
    /* padding: 1rem; */
    position: fixed;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.bottomBtn1 {
    width: 100%;
}

#homeIcon,
#shovelIcon,
#grapesIcon,
#pinIcon,
#phoneCallIcon {
    width: 1.5rem;
}
/* .bottom {
    width: 1.5rem;
    padding: 1rem;
} */

/* .bottom:active { */
    /* transform:scale(1.05); */
/* } */

/* How it works? */

.whyPart {
    padding: 2rem 0;
    background-color: rgba(211, 211, 211, 0.286);
}

.whyHeadline {
    padding-left: 1.5rem;
}

.whyPara {
    padding-left: 1.5rem;
    margin: 0.5rem 0 1.5rem 0;
}

.why {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    /* border: 0.1rem solid black; */
    border-radius: 0.8rem;
    background-color: white;
    /* box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.313); */
}

.whyImage {
    width: 20%;
}

.stepHeadline {
    margin-bottom: 0.2rem;
}

.stepDesc {
    font-size: 1rem;
}

#whyImage {
    width: 3rem;
}

.step {
    width: 80%;
}

/* Projects page */

.callUsBtn {
    margin: 0 1.5rem 3rem 1.5rem;
}

/* Our story part */

.story {
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    margin: 1.5rem 0;
}

#storyImage {
    width: 100%;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.storyHeadline {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

/* howPage.html */

.howHeadline {
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.howPara {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}

.howPart {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* align-items: center; */
    /* flex-direction: column; */
}

.how {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    padding: 2rem 1.5rem;
    width: 50%;
    /* align-items: center; */
}

.howImage {
    width: 100%;
}

#howImage {
    width: 100%;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.how1,
.how3 {
    background-color: rgba(211, 211, 211, 0.286);
}

@media only screen and (max-width: 768px) {
    .how {
        width: 100%;
    }
}

.stageHeadline {
    margin-bottom: 0.5rem;
}

.doubts {
    padding: 2rem 1.5rem 2rem 1.5rem;
}

.doubts1 {
    background-color: rgba(211, 211, 211, 0.286);
}

/* loading */

.loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid rgba(128, 128, 128, 0.18);
    border-top-color: black;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}